/* .post_container {
  margin: 1%;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid white;
}

.post_title {
  border-bottom: 1px solid white;
}

.post_title h2 {
  margin: 2.5%;
}
.post_date {
  text-align: right;
  margin-right: 2.5%;
  margin-bottom: 1%;
  font-style: italic;
}

.post_preview {
  margin: 1%;
  display: flex;
}


.post_image {
  display: flex;
  align-items: center;
  background-color: black;
}

.post_image img {
  max-width: 150px;
} */
.post_navlinks {
  width: 30%;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.post_navlinks a {
  color: white;
  font-size: 1.2rem;
}

/* .post_navlinks a:hover {
  text-decoration: none;
} */

.post_content {
  margin: 1% auto;
}

.post_container img {
  max-width: 45vw;
  max-height: 90vh;
}
